
@{
    ViewBag.Title = "RegistroProductos";
}

<h2>Registro Productos</h2>
<div style="padding:0em 3em">
    <form style="margin-top:100px">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Empresa</label>
                <input type="text" class="form-control" id="" placeholder="Digite el Nombre de la Empresa">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputState">Provincia</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Cantón</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputState">Distrito</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="75mts Oeste del...">
        </div>
        <button type="submit" class="btn btn-primary" style="font-size:20px"><i class="far fa-save"></i></button>
    </form>

</div>
