
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Editar Empresas</h2>
<div style="padding:0em 3em">
    <form style="margin-top:100px">
        <div id="IdEmpresa" style="display:none" value="">@ViewBag.IdEmpresa</div>
        <input type="hidden" name="name" id="cliente" value="1" />
        <input type="hidden" name="name" id="Empresa_ID" value="" />
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Empresa</label>
                <input type="text" class="form-control" id="name" placeholder="Digite el Nombre de la Empresa">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Direccion</label>
                <input type="text" class="form-control" id="direction" placeholder="Direccion">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Nombre de Contacto</label>
                <input type="text" class="form-control" id="contactName" placeholder="Nombre de Contacto">
            </div>
            <div class="form-group col-md-4">
                <label>Telefono</label>
                <input type="text" class="form-control" id="tel" placeholder="Telefono">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Sector</label>
                <select id="production" class="form-control">
                    <option selected>Sector1</option>
                    <option selected>Sector2</option>
                    <option selected>Sector3</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="Edit()" style="font-size:20px"><i class="far fa-save"></i></button>
    </form>

</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Custom/datatables.min.js"></script>
    <script src="~/Scripts/Custom/httpmethods.js"></script>
    <script src="~/Scripts/Custom/EditEmpresa.js"></script>
}
