@{
    ViewBag.Title = "Empresas";
}

<div style="padding:0em 3em">
    <center> <h1>Empresas</h1></center><br /><br />

    <table id="tableEmpresas" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col" align="center" style="text-align:center; vertical-align: middle; font-family: Montserrat, sans-serif;">First Name</th>
                <th scope="col" align="center" style="text-align:center; vertical-align: middle; font-family: Montserrat, sans-serif;">Last Name</th>
                <th scope="col" align="center" style="text-align:center; vertical-align: middle; font-family: Montserrat, sans-serif;">E-mail</th>
                <th scope="col" align="center" style="text-align:left; vertical-align: middle; font-family: Montserrat, sans-serif;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;">hola</td>
                <td style="text-align:center;">hola</td>
                <td style="text-align:center;">hola</td>
                <th>
                    <button style="text-align:center;margin-left:15px; vertical-align: middle; font-family: ottomat, sans-serif;" type="button" class="btn btn-danger float-left"><i class="fas fa-trash"></i></button>
                    <button style="margin-left:15px;background:#8db2d8;color:white;" height:3em" type="button" data-toggle="modal" data-target="#exampleModal1" class="btn  btn-color-custom right"><i class="fas fa-edit"></i></button>
                </th>
            </tr>
            <tr>
                <td style="text-align:center;">hola</td>
                <td style="text-align:center;">hola</td>
                <td style="text-align:center;">hola</td>
                <th>
                    <button style="text-align:center;margin-left:15px; vertical-align: middle; font-family: ottomat, sans-serif;" type="button" class="btn btn-danger float-left"><i class="fas fa-trash"></i></button>
                    <button style="margin-left:15px;background:#8db2d8;color:white;" height:3em" type="button" data-toggle="modal" data-target="#exampleModal1" class="btn  btn-color-custom right"><i class="fas fa-edit"></i></button>
                </th>
            </tr>

        </tbody>
    </table>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Custom/datatables.min.js"></script>
    <script src="~/Scripts/Custom/httpmethods.js"></script>
    <script src="~/Scripts/Custom/Empresas.js"></script>
}