@{
    ViewBag.Title = "Home Page";
}
<div>
    <center><h1><button type="button" class="btn btn-info btn-lg" href="#">INICIO</button></h1></center><br /><br />
    <center><h2 style="color:aliceblue;"><button type="button" class="btn btn-outline-light btn-lg">IDEAS CREATIVAS</button></h2></center><br /><br />
    <!--<img src="~/Content/Images/logo.png" aling="bottom" height="10%" width="10%" style="margin-top:500px;" />-->
    @*<a href="https://www.utn.ac.cr/content/vicerrector%C3%ADa-de-extensi%C3%B3n-y-acci%C3%B3n-social-veas" target="_blank"><img src="~/Content/Images/descarga.jpg" aling="bottom" height="10%" width="10%" style="margin-top:500px;" /></a>
        <a href="https://www.imas.go.cr/" target="_blank"><img src="~/Content/Images/imas-hacienda.jpg" aling="bottom" height="10%" width="10%" style="margin-left:1150px; margin-top:500px;" /></a>*@
</div>
<script type="text/javascript">
    $(document).ready(function () {
        document.body.classList.add("imagenFondo");
    });
</script>